{
  "terraform": {
    "git_url": "{terraform_git_url}",
    "github_repo": "{github_repo}",
    "base_branch": "{base_branch}",
    "skeleton_path": "{skeleton_path}",
    "project_root": "{project_root}",
    "branch_prefix": "{branch_prefix}"
  }
}